<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8" />
    <title>Beer Menu</title>
    <meta http-equiv="Content-Type" content="text/html;" />
</head>
<body>
    <h1>Beer Menu</h1>

    <h2>REST API</h2>
    <ul>
        <li><a href="/beer">List beers</a></li>
        <li><a href="/beer/1">show first beer</a></li>
        <li><a href="/beer/byName/first">show first beer by name</a></li>
    </ul>

    <h2>Beer Repository</h2>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>&nbsp;</td>
        </tr>
        <tr th:each="beer : ${beers}">
            <td th:text="${beer.id}">ID</td>
            <td th:text="${beer.name}">Name</td>
            <td>
                <a href="#" onclick="deleteBeer(this);" th:attr="data-id=${beer.id}">Delete</a>
            </td>
        </tr>
    </table>

    <h2>Quick Add New Beer</h2>
    <form action="#" th:action="@{/addBeer}" th:object="${beer}" method="post">
        Beer Name: <input type="text"  th:field="*{name}"/>
        <input type="Submit" value="new"/>
    </form>

    <form id="deleteBeerForm" name="deleteBeerForm" th:action="@{/deleteBeer}" th:object="${beer}" method="delete">
        <input type="hidden"  th:field="*{id}"/>
    </form>

    <h2>Menu Repository</h2>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>&nbsp;</td>
        </tr>
        <tr th:each="menu : ${menus}">
            <td th:text="${menu.id}">ID</td>
            <td th:text="${menu.name}">Name</td>
            <td>
                <a href="#" onclick="deleteMenu(this);" th:attr="data-id=${menu.id}">Delete</a>
            </td>
        </tr>
    </table>

    <h2>Quick Add New Menu</h2>
    <form action="#" th:action="@{/addMenu}" th:object="${menu}" method="post">
        Menu Name: <input type="text"  th:field="*{name}"/>
        <input type="Submit" value="new"/>
    </form>

    <form id="deleteMenuForm" name="deleteMenuForm" th:action="@{/deleteMenu}" th:object="${menu}" method="delete">
        <input type="hidden"  th:field="*{id}"/>
    </form>

    <script type="text/javascript">
        function deleteBeer(d){
            var deleteForm = document.getElementById("deleteBeerForm");
            deleteForm.elements.id.value = d.getAttribute("data-id");
            deleteForm.submit();
        }
        function deleteMenu(d){
            var deleteForm = document.getElementById("deleteMenuForm");
            deleteForm.elements.id.value = d.getAttribute("data-id");
            deleteForm.submit();
        }
    </script>

</body>

</html>